.screen-container {
    display: flex;
}
  
.screen-divider {
    width: 2px;
    background-color: gray;
    margin-left: 23%;
    margin-right: 0px;
}

.input-panel {
    /* border: 2px solid red; */
    height: 300px;
    width: 200px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.register-panel {
    /* border: 2px solid red; */
    width: 750px;
    align-items: stretch;
    margin-left: 10%;
}

.input-text {
    width: 280px;
    height: 30px;
}

.text-area {
    font-size: 0.875rem;
}

.facebook-button {
    width: 280px;
    font-family: Helvetica,sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: calc(.27548vw + 12.71074px);
    text-decoration: none;
    transition: background-color .3s,border-color .3s;
    background-color: #4c69ba;
    border: calc(.06887vw + .67769px) solid #4c69ba;
    padding: calc(.34435vw + 3.38843px) calc(.34435vw + 8.38843px);
}