html,
#root,
body {
  height: 100%;
  margin: 0px;
}

body {
  font-family: Helvetica, Arial;
}

.app {
  min-height: 100%;
  flex-direction: column;
  display: flex;
  min-width: 900px;
}

.app-body {
  display: flex;
  flex: 1;
}

.content {
  position: relative;
  flex: 1;
}

.circular {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.box-shadow {
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
  font-size: 16px;
}